apiVersion: v1
kind: Service
metadata:
  name: cms
  labels:
    app: cms
spec:
  clusterIP: None
  ports:
    - port: 3000
      name: cms
  selector:
    app: cms
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: cms
  labels:
    app: cms
    deploymentType: without-init-container
    needsTitle: "yes"
spec:
  replicas: 1
  selector:
    matchLabels:
      app: cms
  template:
    metadata:
      annotations:
        linkerd.io/inject: enabled
      labels:
        app: cms
    spec:
      containers:
        - name: cms
          image: cms
          ports:
            - containerPort: 3000
              name: cms
          env:
            - name: NEXT_PUBLIC_BASE_PATH
              value: "/cms"
          resources:
            requests:
              memory: 100Mi
              cpu: 20m
            limits:
              memory: 300Mi
              cpu: 200m
