apiVersion: v1
kind: Service
metadata:
  name: cms
  labels:
    app: cms
spec:
  clusterIP: None
  ports:
    - port: 3000
      name: cms
  selector:
    app: cms
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: cms
  labels:
    app: cms
    deploymentType: without-init-container
spec:
  replicas: 1
  selector:
    matchLabels:
      app: cms
  template:
    metadata:
      annotations:
        linkerd.io/inject: enabled
      labels:
        app: cms
    spec:
      topologySpreadConstraints:
        - maxSkew: 1
          topologyKey: topology.kubernetes.io/zone
          whenUnsatisfiable: ScheduleAnyway
          labelSelector:
            matchLabels:
              app: cms
        - maxSkew: 1
          topologyKey: kubernetes.io/hostname
          whenUnsatisfiable: ScheduleAnyway
          labelSelector:
            matchLabels:
              app: cms
      containers:
        - name: cms
          image: cms
          ports:
            - containerPort: 3000
              name: cms
          env:
            - name: NEXT_PUBLIC_BASE_PATH
              value: "/cms"
          resources:
            requests:
              memory: 100Mi
              cpu: 20m
            limits:
              memory: 300Mi
              cpu: 200m
          startupProbe:
            httpGet:
              path: /cms/api/status/up
              port: 3000
            initialDelaySeconds: 0
            periodSeconds: 1
            timeoutSeconds: 1
            successThreshold: 1
            failureThreshold: 60
          livenessProbe:
            httpGet:
              path: /cms/api/status/up
              port: 3000
            initialDelaySeconds: 30
            periodSeconds: 30
            timeoutSeconds: 5
            successThreshold: 1
            failureThreshold: 5
          readinessProbe:
            httpGet:
              path: /cms/api/status/up
              port: 3000
            initialDelaySeconds: 0
            periodSeconds: 15
            timeoutSeconds: 3
            successThreshold: 1
            failureThreshold: 3
