{
  "extends": "stylelint-config-recommended",
  "overrides": {
    "files": [
      "**/*.ts",
      "**/*.tsx",
      "**/*.js",
      "**/*.jsx"
    ],
    "customSyntax": "@stylelint/postcss-css-in-js"
  }
}
