{
  "extends": "stylelint-config-recommended",
  "rules": {
    "font-family-no-missing-generic-family-keyword": null,
    "no-duplicate-selectors": null,
    "function-no-unknown": null,
    "selector-type-no-unknown": [
      true,
      {
        "ignoreTypes": [
          "/POSTCSS_.*/"
        ]
      }
    ],
    "selector-anb-no-unmatchable": null,
    "declaration-block-no-duplicate-properties": null
  },
  "overrides": [
    {
      "files": [
        "**/*.ts",
        "**/*.tsx",
        "**/*.js",
        "**/*.jsx"
      ],
      "customSyntax": "postcss-styled-syntax"
    }
  ]
}