apiVersion: v1
kind: Service
metadata:
  name: cms
  labels:
    app: cms
spec:
  clusterIP: None
  ports:
    - port: 3000
      name: cms
  selector:
    app: cms
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: cms
  labels:
    app: cms
spec:
  replicas: 1
  selector:
    matchLabels:
      app: cms
  template:
    metadata:
      labels:
        app: cms
    spec:
      containers:
        - name: cms
          image: cms
          ports:
            - containerPort: 3000
              name: cms
