html,
body {
  margin: 0;
  padding: 0;

  /* To prevent scrollbar flashes while resizing */
  overflow: hidden;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
