apiVersion: v1
kind: Service
metadata:
  name: main-frontend
  labels:
    app: main-frontend
spec:
  clusterIP: None
  ports:
    - port: 3000
      name: main-frontend
  selector:
    app: main-frontend
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: main-frontend
  labels:
    app: main-frontend
    deploymentType: without-init-container
spec:
  replicas: 1
  selector:
    matchLabels:
      app: main-frontend
  template:
    metadata:
      annotations:
        linkerd.io/inject: enabled
      labels:
        app: main-frontend
    spec:
      topologySpreadConstraints:
        - maxSkew: 1
          topologyKey: topology.kubernetes.io/zone
          whenUnsatisfiable: ScheduleAnyway
          labelSelector:
            matchLabels:
              app: main-frontend
        - maxSkew: 1
          topologyKey: kubernetes.io/hostname
          whenUnsatisfiable: ScheduleAnyway
          labelSelector:
            matchLabels:
              app: main-frontend
      containers:
        - name: main-frontend
          image: main-frontend
          ports:
            - containerPort: 3000
              name: main-frontend
          env:
            - name: NEXT_PUBLIC_BASE_PATH
              value: ""
            - name: PUBLIC_ADDRESS
              value: "https://courses.mooc.fi"
          resources:
            requests:
              memory: 100Mi
              cpu: 20m
            limits:
              memory: 300Mi
              cpu: 200m
          startupProbe:
            httpGet:
              path: /api/status/up
              port: 3000
            initialDelaySeconds: 0
            periodSeconds: 1
            timeoutSeconds: 1
            successThreshold: 1
            failureThreshold: 60
          livenessProbe:
            httpGet:
              path: /api/status/up
              port: 3000
            initialDelaySeconds: 30
            periodSeconds: 10
            timeoutSeconds: 5
            successThreshold: 1
            failureThreshold: 20
          readinessProbe:
            httpGet:
              path: /api/status/up
              port: 3000
            initialDelaySeconds: 0
            periodSeconds: 5
            timeoutSeconds: 3
            successThreshold: 1
            failureThreshold: 10
