apiVersion: v1
kind: Service
metadata:
  name: course-material
  labels:
    app: course-material
spec:
  clusterIP: None
  ports:
    - port: 3003
      name: course-material
  selector:
    app: course-material
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: course-material
  labels:
    app: course-material
    deploymentType: without-init-container
spec:
  replicas: 1
  selector:
    matchLabels:
      app: course-material
  template:
    metadata:
      annotations:
        linkerd.io/inject: enabled
      labels:
        app: course-material
    spec:
      topologySpreadConstraints:
        - maxSkew: 1
          topologyKey: topology.kubernetes.io/zone
          whenUnsatisfiable: ScheduleAnyway
          labelSelector:
            matchLabels:
              app: course-material
        - maxSkew: 1
          topologyKey: kubernetes.io/hostname
          whenUnsatisfiable: ScheduleAnyway
          labelSelector:
            matchLabels:
              app: course-material
      containers:
        - name: course-material
          image: course-material
          ports:
            - containerPort: 3003
              name: http
          env:
            - name: NEXT_PUBLIC_BASE_PATH
              value: "/org"
          resources:
            requests:
              memory: 100Mi
              cpu: 20m
            limits:
              memory: 300Mi
              cpu: 200m
          startupProbe:
            httpGet:
              path: /org/api/status/up
              port: 3003
            initialDelaySeconds: 0
            periodSeconds: 1
            timeoutSeconds: 1
            successThreshold: 1
            failureThreshold: 60
          livenessProbe:
            httpGet:
              path: /org/api/status/up
              port: 3003
            initialDelaySeconds: 30
            periodSeconds: 30
            timeoutSeconds: 5
            successThreshold: 1
            failureThreshold: 5
          readinessProbe:
            httpGet:
              path: /org/api/status/up
              port: 3003
            initialDelaySeconds: 0
            periodSeconds: 15
            timeoutSeconds: 3
            successThreshold: 1
            failureThreshold: 3
