.editor-styles-wrapper {
  line-height: $editor-line-height;
  color: $gray-900;

  // Image align right
  .edit-post-visual-editor__post-title-wrapper > [data-align="right"],
  .block-editor-block-list__layout.is-root-container > [data-align="right"] {
    float: right;
    margin-bottom: 0.5rem;
  }

  // Image align left
  .edit-post-visual-editor__post-title-wrapper > [data-align="left"],
  .block-editor-block-list__layout.is-root-container > [data-align="left"] {
    float: left;
    margin-bottom: 0.5rem;
  }

  :where(.wp-block)[data-align="left"] > * {
    float: left;
    margin-right: 1em;
  }

  :where(.wp-block)[data-align="right"] > * {
    float: right;
    margin-left: 1em;
  }

  p {
    font-size: inherit;
    line-height: inherit;
  }

  ul,
  ol {
    margin: 0;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  iframe {
    width: 100%;
  }

  // This height is same as the headless-lms oembed proxy maxheight=440.
  iframe[title="Embedded content from youtube.com"],
  iframe[title="Embedded content from vimeo"] {
    height: 440px;
  }

  iframe[title="Embedded content from spotify.com"] {
    height: 335px;
  }

  iframe[title="Embedded content from twitter"],
  iframe[title="Embedded content from imgur"],
  iframe[title="Embedded content from reddit.com"],
  iframe[title="Embedded content from slideshare.net"],
  iframe[title="Embedded content from ted.com"],
  iframe[title="Embedded content from tumblr.com"],
  iframe[title="Embedded content from menti.com"],
  iframe[title="Embedded content from mentimeter.com"] {
    box-sizing: initial;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
  }

  iframe[title="Embedded content from menti.com"],
  iframe[title="Embedded content from mentimeter.com"] {
    html {
      overflow: hidden;
    }
  }

  iframe[title="Embedded content from soundcloud"] {
    box-sizing: initial;
  }

  // These are default editor styles
  .wp-block,
  .block-list-appender {
    max-width: 48rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
  }

  .wp-block[data-align="wide"],
  .wp-block.alignwide {
    max-width: $content-width;
  }

  .wp-block[data-align="full"],
  .wp-block.alignfull {
    max-width: none;
  }

  .wp-block[data-type="moocfi/exercise"],
  .wp-block[data-type="moocfi/exercise-task"] {
    /* Exercises are full width */
    max-width: unset;
  }
}

.block-editor-block-mover .block-editor-block-mover-button {
  height: 24px !important;
}

// fix a bug where content after a spacer was not editable
.block-editor-block-list__block[data-type="core/spacer"]::before {
  height: unset !important;
}

.block-editor-block-list__empty-block-inserter {
  .block-editor-inserter {
    float: right;
    margin: 2px;
  }
}
