.editor-styles-wrapper {
  line-height: $editor-line-height;
  color: $gray-900;

  p {
    font-size: inherit;
    line-height: inherit;
  }

  ul,
  ol {
    margin: 0;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  iframe {
    width: 100%;
  }

  // This height is same as the headless-lms oembed proxy maxheight=440.
  iframe[title="Embedded content from youtube.com"],
  iframe[title="Embedded content from vimeo"] {
    height: 440px;
  }
  iframe[title="Embedded content from spotify.com"] {
    height: 335px;
  }
  iframe[title="Embedded content from twitter"],
  iframe[title="Embedded content from imgur"],
  iframe[title="Embedded content from reddit.com"],
  iframe[title="Embedded content from slideshare.net"],
  iframe[title="Embedded content from ted.com"],
  iframe[title="Embedded content from tumblr.com"] {
    box-sizing: initial;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
  }
  iframe[title="Embedded content from soundcloud"] {
    box-sizing: initial;
  }

  // These are default editor styles
  .wp-block,
  .block-list-appender {
    max-width: 48rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
  }

  .wp-block[data-align="wide"],
  .wp-block.alignwide {
    max-width: $content-width;
  }

  .wp-block[data-align="full"],
  .wp-block.alignfull {
    max-width: none;
  }

  .wp-block[data-type="moocfi/exercise"],
  .wp-block[data-type="moocfi/exercise-task"] {
    /* Exercises are full width */
    max-width: unset;
  }
}

.block-editor-block-mover .block-editor-block-mover-button {
  height: 24px !important;
}
