@import "~@wordpress/base-styles/colors";
@import "~@wordpress/base-styles/variables";
@import "~@wordpress/base-styles/mixins";
@import "~@wordpress/base-styles/breakpoints";
@import "~@wordpress/base-styles/animations";
@import "~@wordpress/base-styles/z-index";

@import "./editor-styles";

// The Gutenberg components styling
.editor__content {
  // Reference element for the block popover position.
  position: relative;

  // Disable the margin-right if min-width more than 600px for responsiveness
  margin-right: 0px;
  /* stylelint-disable-next-line */
  @include break-small() {
    /* Give space for sidebar so that it won't accidentally overlap the main editor */
    /* Same as sidebar width */
    margin-right: $sidebar-width;
  }
}

// Components that are on the same page as a Gutenberg Editor
.editor__component {
  // Disable the margin-right if min-width more than 600px for responsiveness
  margin-right: 0px;
  /* stylelint-disable-next-line */
  @include break-small() {
    /* Give space for sidebar so that it won't accidentally overlap the main editor */
    /* Same as sidebar width */
    margin-right: $sidebar-width;
  }
}

// Gutenberg editor sidebar styling
.editor__sidebar {
  position: fixed;
  // Height of the complex navbar
  top: 90px;
  right: 0;
  bottom: 0;
  width: $sidebar-width;
  border-left: $border-width solid $gray-300;
  height: auto;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  z-index: 9001;
  background-color: white;

  // Temporarily disable the sidebar on mobile
  // Do we want to support advanced content editing with a mobile phone?
  display: none;
  /* stylelint-disable-next-line */
  @include break-small() {
    display: block;
  }
}
