@import "~@wordpress/base-styles/colors";
@import "~@wordpress/base-styles/variables";
@import "~@wordpress/base-styles/mixins";
@import "~@wordpress/base-styles/breakpoints";
@import "~@wordpress/base-styles/animations";
@import "~@wordpress/base-styles/z-index";

@import "./editor-styles";

$sidebar-threshold: 75rem;
$sidebar-width: 350px;

// The Gutenberg components styling
.editor__content {
  // Reference element for the block popover position.
  position: relative;

  width: 100%;
  height: 100%;

  /* Give space for sidebar so that it won't accidentally overlap the main editor */
  /* Same as sidebar width */
  margin-right: calc(auto - $sidebar-width);

  @media (max-width: $sidebar-threshold) {
    // Disable the margin-right if min-width more than 600px for responsiveness
    margin-right: 0px;
  }
}

// Components that are on the same page as a Gutenberg Editor
.editor__component {
  /* Give space for sidebar so that it won't accidentally overlap the main editor */
  /* Same as sidebar width */
  margin-right: calc(auto - $sidebar-width);

  @media (max-width: $sidebar-threshold) {
    // Disable the margin-right if min-width more than 600px for responsiveness
    margin-right: 0px;
  }
}

// Gutenberg editor sidebar styling
.editor__sidebar {
  position: fixed;
  // Height of the complex navbar
  top: var(--start-sidebar-top-px);
  right: 0;
  bottom: 0;
  width: $sidebar-width;
  border-left: $border-width solid $gray-300;
  height: auto;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  z-index: 51;
  background-color: white;

  // Temporarily disable the sidebar on mobile
  // Do we want to support advanced content editing with a mobile phone?
  display: block;

  @media (max-width: $sidebar-threshold) {
    display: none;
  }
}

.editor__top-button-wrapper {
  padding: 1rem;
  display: none;

  @media (max-width: $sidebar-threshold) {
    display: block;
  }

  background: #f5f6f7;
}

p {
  code {
    background: #e5e5e5;
    padding: 0 0.4rem 0.2rem 0.4rem;
    border-radius: 3px;
  }
}
