target
**/target
.env
.playwright-cli
crates/database/models/.env
uploads
requests.rest
dbdoc
# We only want translations from shared module, and those can be explicitly allowed
shared-module
Dockerfile
*.dockerfile
crates/backend/http-api/generated-docs
